<div class="container">
  <h1 style="text-align:center">Ping Pong</h1>
  <hr>
  <h4>Get ready to be amazed</h4>
  <h2>Instructions</h2>
  <ul>
    <li>Input a number</li>
    <li>Numbers divisible by <em><strong>3</strong></em> are replace by <em><strong>ping</strong></em></li>
    <li>Nubers divisible by <em><strong>5</strong></em> are replaced by <em><strong>pong</strong></em></li>
    <li>Numbers divisible by both <em><strong>3</strong></em> and <em><strong>5</strong></em> are replaced by <em><strong>ping pong</strong></em></li>
    <li><em><strong>Have Fun</strong></em></li>
  </ul>
</div>
<form class="form" action="/number">
<div class="form-group">
  <label for="number">Enter number here:</label>
    <input id="number" name="number" type="number" placeholder="input any number">
</div>
<button type="submit" class="btn btn-submmit">Ping Pong</button>
</form>
